body{
  font-family: arial;
  background-color: hwb(108 90% 8%);
}
h1 {
   color: hwb(215 9% 25% / 0.988);
}
form{
  background-color: lab(60.17% 0 -0.01);
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 25px;
  box-shadow:5px 5px 15px hwb(215 53% 9% / 0.711);s

}
#textBox{
  width: 50%;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
}
label{
  font-size: 20px;
  font-weight: bold;
}
button{
  font-size: large;
  border-radius: 10px;
  padding-inline-start: 10px;
  background-color: indianred;
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: darkred;
}
#result{
  font-size: 20px;
  font-weight: bold;
}